@charset "UTF-8";

@font-face {
    font-family: Calculadora;
    src: url(digital-dream/DIGITALDREAM.ttf);
}

html{
    background-image: radial-gradient(#6b8c8f, #395758);
    height: 100vh;
}

#calculadora{
    margin: auto;
    margin-top: 50px;
    background-image: linear-gradient(to right bottom, #639699, #7dbdc0, #639699, #558285, #3b585a);
    width: 320px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
}

#input{
    color: #ACE2E6;
    text-shadow: 0px 0px 15px #ACE2E6;
    font-family: Calculadora, sans-serif;
    width: 305px;
    height: 50px;
    font-size: 3.5em;
    padding: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to top right, #242d30, #2a3538, #425458, #2a3538 );
    background-color: #2a3538;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px black;

    
}

.num{
    height: 70px;
    width: 70px;
    font-size: 3em;
    margin: 3px;
    background-image: radial-gradient(rgb(209, 217, 223), aliceblue);
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    border-radius: 3px;
}

.operador{
    height: 70px;
    width: 70px;
    font-size: 3em;
    margin: 3px;
    background-image: radial-gradient(#cfc68f, #e6db9f, #fff4b5);
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    border-radius: 3px;
}

.bretangulo{
    height: 69px;
    width: 110px;
    margin: 3px;
    font-size: 3em;
    font-variant: small-caps;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    border-radius: 3px;
    background-image: radial-gradient(#caabbf,#E6C3D9,#f7d1e9);
}



#bresult {
    height: 70px;
    width: 150px;
    margin: 3px;
    font-size: 3em;
    background-image: radial-gradient(#d3c888, #E6DA95, #fff2a7);
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    border-radius: 3px;
}

