@charset "UTF-8";


#calculadora{
    margin: auto;
    margin-top: 15px;
    background-color: #639699;
    width: 320px;
    padding: 25px;
    border-radius: 25px;
}

#input{
    width: 305px;
    font-size: 2em;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #ACE2E6;
}

.bquadrado{
    height: 70px;
    width: 70px;
    font-size: 3em;
    margin: 3px;
    background-color: #E6DA95;
}

.bretangulo{
    height: 69px;
    width: 110px;
    margin: 3px;
    font-size: 3em;
    font-variant: small-caps;
    background-color: #E6C3D9;
}

#bresult {
    height: 70px;
    width: 150px;
    margin: 3px;
    font-size: 3em;
    background-color: #E6C3D9;
}